BODY {
	SCROLLBAR-ARROW-COLOR: #fff; SCROLLBAR-FACE-COLOR: #0f70c7; BACKGROUND-COLOR: #ffffff; MARGIN: 0px 10px; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; FONT-FAMILY: ו; SCROLLBAR-HIGHLIGHT-COLOR: #0f70c7; COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #cccccc; FONT-SIZE: 12px; SCROLLBAR-TRACK-COLOR: #eaf0f5; SCROLLBAR-3DLIGHT-COLOR: buttonface
}
.td {
	BORDER-BOTTOM: #015e76 1px solid
}
TD {
	LINE-HEIGHT: 20px; FONT-SIZE: 12px
}
A {
	COLOR: #000000; FONT-SIZE: 12px
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff3300; TEXT-DECORATION: none
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.btn {
	BORDER-BOTTOM: #bdc5ca 1px solid; BORDER-LEFT: #bdc5ca 1px solid; BACKGROUND: url(../images/button_bg.gif); HEIGHT: 25px; COLOR: #333333; FONT-SIZE: 12px; BORDER-TOP: #bdc5ca 1px solid; BORDER-RIGHT: #bdc5ca 1px solid
}
.btn2 {
	BORDER-BOTTOM: #bdc5ca 1px solid; BORDER-LEFT: #bdc5ca 1px solid; BACKGROUND: url(../images/button_bg.gif); HEIGHT: 23px; COLOR: #333333; FONT-SIZE: 12px; BORDER-TOP: #bdc5ca 1px solid; BORDER-RIGHT: #bdc5ca 1px solid
}
.box12 {
	TEXT-ALIGN: left; MARGIN: 0px; PADDING-LEFT: 0px; COLOR: #666666; FONT-SIZE: 12px
}
.box12 UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.box12 LI {
	BORDER-BOTTOM: #cccccc 1px dashed; POSITION: relative; PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 15px; PADDING-RIGHT: 5px; BACKGROUND: url(arrow_box.gif) no-repeat left 45%; PADDING-TOP: 5px
}
.box12 LI A {
	LINE-HEIGHT: 25px; FONT-SIZE: 14px
}
#login {
	POSITION: absolute; MARGIN: -200px 0px 0px -225px; WIDTH: 450px; BACKGROUND: url(White_bj.png); HEIGHT: auto; TOP: 50%; LEFT: 50%
}
.loginlogo {
	MARGIN: 10px auto; WIDTH: 370px; BACKGROUND: url(../images/login_box_logo.gif) no-repeat; HEIGHT: 70px
}
.loginlogo .inc {
	TEXT-ALIGN: right
}
.loginbox {
	POSITION: relative; BACKGROUND-COLOR: #ffffff; MARGIN: 10px; FONT-FAMILY: Microsoft YaHei, SimHei, "ו"; HEIGHT: 380px; OVERFLOW: hidden
}
.loginbox .name {
	MARGIN: 10px auto; WIDTH: 338px; BACKGROUND: url(../images/input_bj.png) no-repeat center top; HEIGHT: 48px
}
.loginbox .name .inpu {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 30px; MARGIN: 9px 4px 4px 48px; WIDTH: 280px; HEIGHT: 30px; FONT-SIZE: 16px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.loginbox .pass {
	MARGIN: 10px auto; WIDTH: 338px; BACKGROUND: url(../images/input_bj.png) no-repeat 0px -48px; HEIGHT: 48px
}
.loginbox .pass .inpu {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 30px; MARGIN: 9px 4px 4px 48px; WIDTH: 280px; HEIGHT: 30px; FONT-SIZE: 16px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.loginbox .Code {
	MARGIN: 10px auto; WIDTH: 338px; BACKGROUND: url(../images/input_bj.png) no-repeat 0px -96px; HEIGHT: 48px
}
.loginbox .Code .inpu {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 30px; MARGIN: 9px 4px 4px 48px; WIDTH: 175px; FLOAT: left; HEIGHT: 30px; FONT-SIZE: 16px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.loginbox .Code .img_Code {
	LINE-HEIGHT: 30px; MARGIN-TOP: 9px; WIDTH: 85px; FLOAT: left; HEIGHT: 30px; MARGIN-LEFT: 18px; FONT-SIZE: 16px
}
.loginbox .ver {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 100%; FONT-FAMILY: Microsoft YaHei, SimHei, "ו"; HEIGHT: 30px
}
#iets {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 100%; BOTTOM: 10px; BACKGROUND: #ffffff; LEFT: 0px
}
#login FORM {
	MARGIN: 0px
}
#login FORM .sub60 {
	BORDER-BOTTOM: #0066cc 1px solid; BORDER-LEFT: #0066cc 1px solid; BACKGROUND-COLOR: #0496da; MARGIN: 10px auto 0px; WIDTH: 338px; FONT: bold 24px Cambria, "Hoefler Text", serif; HEIGHT: 50px; COLOR: #d3ebff; BORDER-TOP: #0066cc 1px solid; BORDER-RIGHT: #0066cc 1px solid
}
#login FORM .submit {
	BORDER-BOTTOM: #004c9b 1px solid; BORDER-LEFT: #004c9b 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #0496da; MARGIN: 35px auto 0px; PADDING-LEFT: 10px; WIDTH: 338px; PADDING-RIGHT: 10px; DISPLAY: block; FONT: bold 24px Cambria, "Hoefler Text", serif; HEIGHT: 50px; COLOR: #d3ebff; BORDER-TOP: #004c9b 1px solid; CURSOR: pointer; BORDER-RIGHT: #004c9b 1px solid; PADDING-TOP: 10px; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.3); text-shadow: 0 -1px 0 #444444
}
#login FORM submit:hover {
	BACKGROUND-COLOR: #0383d3
}
#login FORM submit:active {
	BACKGROUND-COLOR: #026fcb
}
.cop {
	COLOR: #666666; FONT-SIZE: 12px
}
.t2 {
	COLOR: #ff6600; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.t1 {
	FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.sffocus {
	BACKGROUND-COLOR: #0174df
}
.mian_bt {
	LINE-HEIGHT: 30px; COLOR: #175e58; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.mian_body {
	POSITION: relative; BACKGROUND: url(pic5.gif) no-repeat left top; HEIGHT: auto
}
.mian_body LI {
	LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; COLOR: #666666
}
.imgDiv {
	FLOAT: left
}
.imgDiv IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 100px; HEIGHT: 100px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.imgDiv IMG:hover {
	BORDER-BOTTOM: #cc0000 1px solid; BORDER-LEFT: #cc0000 1px solid; BORDER-TOP: #cc0000 1px solid; BORDER-RIGHT: #cc0000 1px solid
}
